# FASTAPI
CONTAINER_APP_NAME="fastapi-dev"
APP_PORT=8000
STORAGE_ACCOUNT="accountexample"
STORAGE_CONTAINER_NAME="test-example"
STORAGE_ACCESS_KEY="Id2qEHNgLKWC5c28=="

# POSTGRESQL
CONTAINER_DATABASE_NAME="postgres-dev"
DATABASE_IMAGE="postgres:12-alpine"
DATABASE_HOST="postgres-dev"
DATABASE_PORT=5432
DATABASE_USER="postgres"
DATABASE_PASSWORD="postgres"
DATABASE_NAME="spot"

# CELERY
CONTAINER_WORKER_NAME="celery-dev"
WORKER_BROKER_URL="redis://redis-dev:6379/0"
WORKER_RESULT_BACKEND="redis://redis-dev:6379/0"

# REDIS
CONTAINER_STORE_NAME="redis-dev"
STORE_IMAGE="redis:7.0-alpine"
STORE_PORT=6379

# FLOWER
CONTAINER_MONITOR_NAME="flower-dev"
MONITOR_PORT=5555
